* {
  padding: 0;
  box-sizing: border-box;
}

.modal_bg-color {
  background-color: #00000099;
}
body {
  background-color: #802c6e08;
}
/**********Modal**********/
.modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: -50px;
}
.cart_modal {
  justify-content: flex-end;
  align-items: stretch;
}
/**********Aside**********/
.aside-cart {
  width: 100%;
  min-height: 100vh;
  background-color: #21252999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.aside-cart_container {
  right: 0;
  top: 0;
  bottom: 0;
  left: 25%;
  transition: translateX ease-in-out;
}
/**********Main**********/

.card {
  /* background-color: #802c6e10; */
}
/**********Animations**********/
.from-right-animation {
  animation: fromRightAnimation 800ms;
  opacity: 1;
}

@keyframes fromRightAnimation {
  0% {
    transform: translateX(500px);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0px);
  }
}

/**********Media querys**********/
@media screen and (min-width: 768px) {
  .aside-cart_container {
    left: 75%;
  }
  .main_section .card {
    width: 85%;
    height: 38vh;
    justify-content: center;
    align-items: center;
  }
  .main_section .card img {
    width: 80%;
    height: 50%;
  }

  .main_section .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    /* display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column; */
    overflow: auto;
  }
}
@media screen and (min-width: 992px) {
  .main_section .card {
    /* width: 85%; */
    height: 40vh;
  }
  .main_section .card img {
    height: 52%;
  }
}
